Repository blockscout/blockscout, pull requests merged in 2024-10, with the labels that each got.

#10751 feat: Arbitrum L1-to-L2 messages with hashed message id
  apps/ethereum_jsonrpc/lib/ethereum_jsonrpc/transaction.ex
  apps/explorer/lib/explorer/chain/arbitrum/reader.ex
  apps/indexer/lib/indexer/block/fetcher.ex
  apps/indexer/lib/indexer/buffered_task.ex
  apps/indexer/lib/indexer/fetcher/arbitrum/messages_to_l2_matcher.ex
  apps/indexer/lib/indexer/fetcher/arbitrum/messaging.ex
  apps/indexer/lib/indexer/fetcher/arbitrum/rollup_messages_catchup.ex
  apps/indexer/lib/indexer/fetcher/arbitrum/utils/db.ex
  apps/indexer/lib/indexer/fetcher/arbitrum/utils/helper.ex
  apps/indexer/lib/indexer/fetcher/arbitrum/workers/historical_messages_on_l2.ex
  apps/indexer/lib/indexer/supervisor.ex
  apps/indexer/lib/indexer/transform/arbitrum/messaging.ex
  config/runtime.exs
Labels: ci:all

#10819 feat: Add an indexer and API for Scroll batches and bundles
  apps/block_scout_web/lib/block_scout_web/chain.ex
  apps/block_scout_web/lib/block_scout_web/controllers/api/v2/block_controller.ex
  apps/block_scout_web/lib/block_scout_web/controllers/api/v2/scroll_controller.ex
  apps/block_scout_web/lib/block_scout_web/controllers/api/v2/transaction_controller.ex
  apps/block_scout_web/lib/block_scout_web/routers/api_router.ex
  apps/block_scout_web/lib/block_scout_web/views/api/v2/scroll_view.ex
  apps/explorer/lib/explorer/chain/import/runner/scroll/batch_bundles.ex
  apps/explorer/lib/explorer/chain/import/runner/scroll/batches.ex
  apps/explorer/lib/explorer/chain/import/stage/chain_type_specific.ex
  apps/explorer/lib/explorer/chain/scroll/batch.ex
  apps/explorer/lib/explorer/chain/scroll/batch_bundle.ex
  apps/explorer/lib/explorer/chain/scroll/reader.ex
  apps/explorer/priv/scroll/migrations/20240913114630_add_batches_tables.exs
  apps/indexer/lib/indexer/fetcher/rollup_l1_reorg_monitor.ex
  apps/indexer/lib/indexer/fetcher/scroll/batch.ex
  apps/indexer/lib/indexer/fetcher/scroll/bridge_l1.ex
  apps/indexer/lib/indexer/fetcher/scroll/bridge_l2.ex
  apps/indexer/lib/indexer/helper.ex
  apps/indexer/lib/indexer/supervisor.ex
  config/runtime.exs
  docker-compose/envs/common-blockscout.env
Labels: ci:scroll

#10935 feat: Add missing filecoin robust addresses
  apps/block_scout_web/lib/block_scout_web/controllers/api/v2/address_controller.ex
  apps/block_scout_web/lib/block_scout_web/views/api/v2/address_view.ex
  apps/block_scout_web/lib/block_scout_web/views/api/v2/filecoin_view.ex
  apps/block_scout_web/lib/block_scout_web/views/api/v2/search_view.ex
  apps/block_scout_web/lib/block_scout_web/views/api/v2/smart_contract_view.ex
  apps/block_scout_web/lib/block_scout_web/views/api/v2/token_view.ex
  apps/explorer/lib/explorer/chain/address.ex
Labels: ci:filecoin, ci:all

#11000 fix: Fix failed tests
  apps/explorer/test/explorer/migrator/sanitize_duplicated_log_index_logs_test.exs
Labels: ci:celo

#11051 fix: Rename zksync l1/l2 _tx_count columns
  apps/explorer/priv/zk_sync/migrations/20241028102407_rename_tx_count_fields_zksync.exs
Labels: ci:zksync

#11067 fix: celo collated gas price issue
  apps/explorer/priv/celo/migrations/20241029131554_modify_collated_gas_price_constraint.exs
  apps/explorer/priv/polygon_edge/migrations/20230731130103_modify_collated_gas_price_constraint.exs
Labels: ci:celo

#11037 feat: Support zksync foundry verification
  apps/block_scout_web/lib/block_scout_web/controllers/api/rpc/contract_controller.ex
  apps/block_scout_web/lib/block_scout_web/controllers/api/v2/verification_controller.ex
  apps/explorer/lib/explorer/chain.ex
  apps/explorer/lib/explorer/chain/smart_contract.ex
  apps/explorer/lib/explorer/smart_contract/helper.ex
  apps/explorer/lib/explorer/smart_contract/solidity/publisher.ex
  apps/explorer/lib/explorer/smart_contract/solidity/verifier.ex
  cspell.json
Labels: ci:all

#11055 fix: Fix contract codes fetching for zksync chain type
  apps/block_scout_web/lib/block_scout_web/views/address_contract_view.ex
  apps/explorer/config/config.exs
  apps/explorer/config/runtime/test.exs
  apps/explorer/lib/explorer/application.ex
  apps/explorer/lib/explorer/chain/address.ex
  apps/explorer/lib/explorer/migrator/refetch_contract_codes.ex
  apps/explorer/priv/zk_sync/migrations/20241028102853_add_contract_code_refetched.exs
  apps/explorer/test/explorer/migrator/sanitize_duplicated_log_index_logs_test.exs
  apps/explorer/test/support/factory.ex
  apps/indexer/lib/indexer/transform/addresses.ex
  config/runtime.exs
  docker-compose/envs/common-blockscout.env
Labels: ci:all
