Repository blockscout/blockscout, pull requests merged in 2024-07, with the labels that each got.

#10280 fix: indexer first block usage to halt Arbitrum missed messages discovery
  apps/indexer/lib/indexer/fetcher/arbitrum/rollup_messages_catchup.ex
  apps/indexer/lib/indexer/fetcher/arbitrum/workers/historical_messages_on_l2.ex
Labels: ci:arbitrum

#10322 fix: proper lookup of confirmed Arbitrum cross-chain messages
  apps/explorer/lib/explorer/chain/arbitrum/batch_block.ex
  apps/explorer/lib/explorer/chain/arbitrum/batch_transaction.ex
  apps/explorer/lib/explorer/chain/arbitrum/l1_batch.ex
  apps/explorer/lib/explorer/chain/arbitrum/l1_execution.ex
  apps/explorer/lib/explorer/chain/arbitrum/lifecycle_transaction.ex
  apps/explorer/lib/explorer/chain/arbitrum/message.ex
  apps/explorer/lib/explorer/chain/arbitrum/reader.ex
  apps/indexer/lib/indexer/fetcher/arbitrum/utils/db.ex
  apps/indexer/lib/indexer/fetcher/arbitrum/workers/new_batches.ex
  apps/indexer/lib/indexer/fetcher/arbitrum/workers/new_confirmations.ex
  apps/indexer/lib/indexer/fetcher/arbitrum/workers/new_l1_executions.ex
  apps/indexer/lib/indexer/fetcher/arbitrum/workers/new_messages_to_l2.ex
Labels: ci:arbitrum

#10326 fix: proper handling for re-discovered Arbitrum batches
  apps/explorer/lib/explorer/chain/arbitrum/batch_block.ex
  apps/explorer/lib/explorer/chain/arbitrum/reader.ex
  apps/indexer/lib/indexer/fetcher/arbitrum/utils/db.ex
  apps/indexer/lib/indexer/fetcher/arbitrum/workers/new_batches.ex
Labels: ci:arbitrum

#10272 feat: broadcast updates about new Arbitrum batches and L1-L2 messages through WebSocket
  apps/block_scout_web/lib/block_scout_web/channels/arbitrum_channel.ex
  apps/block_scout_web/lib/block_scout_web/channels/user_socket_v2.ex
  apps/block_scout_web/lib/block_scout_web/notifier.ex
  apps/block_scout_web/lib/block_scout_web/notifiers/arbitrum.ex
  apps/block_scout_web/lib/block_scout_web/realtime_event_handler.ex
  apps/block_scout_web/lib/block_scout_web/views/api/v2/arbitrum_view.ex
  apps/explorer/lib/explorer/chain/events/publisher.ex
  apps/explorer/lib/explorer/chain/events/subscriber.ex
  apps/indexer/lib/indexer/fetcher/arbitrum/workers/new_batches.ex
  apps/indexer/lib/indexer/fetcher/arbitrum/workers/new_messages_to_l2.ex
Labels: ci:optimism, ci:arbitrum, ci:polygon_zkevm

#10243 fix: empty revert reasons in geth variant
  apps/ethereum_jsonrpc/lib/ethereum_jsonrpc/geth.ex
  apps/ethereum_jsonrpc/lib/ethereum_jsonrpc/geth/call.ex
Labels: ci:ethereum, ci:optimism, ci:arbitrum

#10295 fix: alternative way to detect blocks range for ArbitrumOne batches
  apps/explorer/lib/explorer/chain/arbitrum/reader.ex
  apps/indexer/lib/indexer/fetcher/arbitrum/tracking_batches_statuses.ex
  apps/indexer/lib/indexer/fetcher/arbitrum/utils/db.ex
  apps/indexer/lib/indexer/fetcher/arbitrum/utils/rpc.ex
  apps/indexer/lib/indexer/fetcher/arbitrum/workers/new_batches.ex
  config/runtime.exs
  docker-compose/envs/common-blockscout.env
Labels: ci:arbitrum

#10405 fix: Fix logs sorting in API v1
  apps/explorer/lib/explorer/etherscan/logs.ex
Labels: ci:all

#10436 fix: avoid infinite loop during batch block range binary search
  apps/indexer/lib/indexer/fetcher/arbitrum/utils/rpc.ex
Labels: ci:arbitrum

#10446 feat: missing Arbitrum batches re-discovery
  apps/explorer/lib/explorer/chain/arbitrum/reader.ex
  apps/indexer/lib/indexer/fetcher/arbitrum/tracking_batches_statuses.ex
  apps/indexer/lib/indexer/fetcher/arbitrum/utils/db.ex
  apps/indexer/lib/indexer/fetcher/arbitrum/workers/new_batches.ex
  config/runtime.exs
  docker-compose/envs/common-blockscout.env
Labels: ci:arbitrum

#10374 feat: revisited approach to catchup missed Arbitrum messages
  apps/explorer/lib/explorer/chain/arbitrum/reader.ex
  apps/explorer/lib/explorer/utility/missing_block_range.ex
  apps/explorer/priv/arbitrum/migrations/20240628210148_add_index_for_messages.exs
  apps/indexer/lib/indexer/fetcher/arbitrum/rollup_messages_catchup.ex
  apps/indexer/lib/indexer/fetcher/arbitrum/utils/db.ex
  apps/indexer/lib/indexer/fetcher/arbitrum/workers/historical_messages_on_l2.ex
  config/runtime.exs
  cspell.json
  docker-compose/envs/common-blockscout.env
Labels: ci:arbitrum

#9944 feat: index celo epoch transactions
  .github/workflows/config.yml
  apps/ethereum_jsonrpc/lib/ethereum_jsonrpc.ex
  apps/ethereum_jsonrpc/lib/ethereum_jsonrpc/geth/call.ex
  apps/ethereum_jsonrpc/lib/ethereum_jsonrpc/logs.ex
  apps/ethereum_jsonrpc/lib/ethereum_jsonrpc/nethermind/trace.ex
  apps/ethereum_jsonrpc/lib/ethereum_jsonrpc/transaction.ex
  apps/explorer/config/prod.exs
  apps/explorer/lib/explorer/chain/cache/celo_core_contracts.ex
  apps/explorer/lib/explorer/chain/celo/election_reward.ex
  apps/explorer/lib/explorer/chain/celo/epoch_reward.ex
  apps/explorer/lib/explorer/chain/celo/helper.ex
  apps/explorer/lib/explorer/chain/celo/pending_epoch_block_operation.ex
  apps/explorer/lib/explorer/chain/celo/validator_group_vote.ex
  apps/explorer/lib/explorer/chain/import/runner/blocks.ex
  apps/explorer/lib/explorer/chain/import/runner/celo/election_rewards.ex
  apps/explorer/lib/explorer/chain/import/runner/celo/epoch_rewards.ex
  apps/explorer/lib/explorer/chain/import/runner/celo/validator_group_votes.ex
  apps/explorer/lib/explorer/chain/import/runner/logs.ex
  apps/explorer/lib/explorer/chain/import/runner/token_transfers.ex
  apps/explorer/lib/explorer/chain/import/stage/block_referencing.ex
  apps/explorer/lib/explorer/chain/log.ex
  apps/explorer/lib/explorer/chain/token_transfer.ex
  apps/explorer/lib/explorer/helper.ex
  apps/explorer/lib/fetch_celo_core_contracts.ex
  apps/explorer/priv/celo/migrations/20240424121856_add_pending_epoch_block_operations.exs
  apps/explorer/priv/celo/migrations/20240512143204_remove_transaction_hash_from_primary_key_in_logs.exs
  apps/explorer/priv/celo/migrations/20240513091316_remove_transaction_hash_from_primary_key_in_token_transfers.exs
  apps/explorer/priv/celo/migrations/20240607185817_add_epoch_rewards.exs
  apps/explorer/priv/celo/migrations/20240612135216_add_validator_group_votes.exs
  apps/explorer/priv/celo/migrations/20240614125614_add_election_rewards.exs
  apps/explorer/priv/celo/migrations/20240715110334_remove_unused_fields_from_validator_group_votes.exs
  apps/explorer/test/explorer/chain/cache/celo_core_contracts_test.exs
  apps/explorer/test/explorer/chain/import/runner/blocks_test.exs
  apps/explorer/test/support/factory.ex
  apps/indexer/lib/indexer/block/catchup/fetcher.ex
  apps/indexer/lib/indexer/block/fetcher.ex
  apps/indexer/lib/indexer/block/realtime/fetcher.ex
  apps/indexer/lib/indexer/fetcher/celo/epoch_block_operations.ex
  apps/indexer/lib/indexer/fetcher/celo/epoch_block_operations/core_contract_version.ex
  apps/indexer/lib/indexer/fetcher/celo/epoch_block_operations/delegated_payments.ex
  apps/indexer/lib/indexer/fetcher/celo/epoch_block_operations/distributions.ex
  apps/indexer/lib/indexer/fetcher/celo/epoch_block_operations/validator_and_group_payments.ex
  apps/indexer/lib/indexer/fetcher/celo/epoch_block_operations/voter_payments.ex
  apps/indexer/lib/indexer/fetcher/celo/epoch_logs.ex
  apps/indexer/lib/indexer/fetcher/celo/helper.ex
  apps/indexer/lib/indexer/fetcher/celo/validator_group_votes.ex
  apps/indexer/lib/indexer/fetcher/internal_transaction.ex
  apps/indexer/lib/indexer/helper.ex
  apps/indexer/lib/indexer/supervisor.ex
  apps/indexer/lib/indexer/transform/addresses.ex
  apps/indexer/lib/indexer/transform/celo/validator_epoch_payment_distributions.ex
  apps/indexer/test/indexer/block/catchup/bound_interval_supervisor_test.exs
  apps/indexer/test/indexer/block/catchup/fetcher_test.exs
  apps/indexer/test/indexer/block/fetcher_test.exs
  apps/indexer/test/indexer/block/realtime/fetcher_test.exs
  apps/indexer/test/indexer/fetcher/celo/epoch_block_operations_test.exs
  apps/indexer/test/support/indexer/fetcher/celo_epoch_rewards_supervisor_case.ex
  config/runtime.exs
  docker-compose/envs/common-blockscout.env
Labels: ci:all

#10509 chore: Set Geth as default JSON RPC Variant
  apps/ethereum_jsonrpc/lib/ethereum_jsonrpc/variant.ex
Labels: ci:all
