Repository blockscout/blockscout, pull requests merged in 2024-05, with the labels that each got.

#10049 chore: Add support of Blast-specific L1 OP withdrawal events
  apps/indexer/lib/indexer/fetcher/optimism/withdrawal_event.ex
Labels: ci:optimism

#9963 feat: APIv2 endpoints for Arbitrum messages and batches
  apps/block_scout_web/lib/block_scout_web/api_router.ex
  apps/block_scout_web/lib/block_scout_web/chain.ex
  apps/block_scout_web/lib/block_scout_web/controllers/api/v2/arbitrum_controller.ex
  apps/block_scout_web/lib/block_scout_web/controllers/api/v2/block_controller.ex
  apps/block_scout_web/lib/block_scout_web/controllers/api/v2/transaction_controller.ex
  apps/block_scout_web/lib/block_scout_web/views/api/v2/arbitrum_view.ex
  apps/block_scout_web/lib/block_scout_web/views/api/v2/block_view.ex
  apps/block_scout_web/lib/block_scout_web/views/api/v2/helper.ex
  apps/block_scout_web/lib/block_scout_web/views/api/v2/transaction_view.ex
  apps/block_scout_web/lib/block_scout_web/views/api/v2/zksync_view.ex
  apps/block_scout_web/mix.exs
  apps/explorer/lib/explorer/chain.ex
  apps/explorer/lib/explorer/chain/arbitrum/reader.ex
  apps/explorer/lib/explorer/chain/block.ex
  apps/explorer/lib/explorer/chain/cache/helper.ex
  apps/explorer/lib/explorer/chain/transaction.ex
  cspell.json
Labels: ci:arbitrum

#10087 feat: implement fetch_first_trace for Geth
  apps/block_scout_web/test/block_scout_web/controllers/api/rpc/transaction_controller_test.exs
  apps/block_scout_web/test/block_scout_web/views/transaction_view_test.exs
  apps/ethereum_jsonrpc/lib/ethereum_jsonrpc/geth.ex
  apps/explorer/lib/explorer/chain.ex
  apps/explorer/test/explorer/chain_test.exs
Labels: ci:all

#10067 feat: Arbitrum-specific fields in the block and transaction API endpoints
  apps/block_scout_web/lib/block_scout_web/views/api/v2/arbitrum_view.ex
  apps/ethereum_jsonrpc/lib/ethereum_jsonrpc/block.ex
  apps/ethereum_jsonrpc/lib/ethereum_jsonrpc/receipt.ex
  apps/explorer/lib/explorer/chain/block.ex
  apps/explorer/lib/explorer/chain/import/runner/transactions.ex
  apps/explorer/lib/explorer/chain/transaction.ex
  apps/explorer/priv/arbitrum/migrations/20240510184858_extend_transaction_and_block_tables.exs
Labels: ci:arbitrum

#10131 fix: hide Arbitrum specific fields to get rid of warnings
  apps/block_scout_web/lib/block_scout_web/views/api/v2/arbitrum_view.ex
Labels: ci:all

#10136 fix: missing nil case for revert reason
  apps/explorer/lib/explorer/chain/transaction.ex
Labels: ci:ethereum, ci:optimism, ci:rsk
