Repository blockscout/blockscout, pull requests merged in 2024-08, with the labels that each got.

#10553 fix: skip the batch 0 on Arbitrum chains
  apps/indexer/lib/indexer/fetcher/arbitrum/workers/new_batches.ex
Labels: ci:arbitrum

#10551 fix: limited usage of infinite timeout in Arbitrum related DB queries
  apps/explorer/lib/explorer/chain/arbitrum/reader.ex
  apps/indexer/lib/indexer/fetcher/arbitrum/utils/db.ex
Labels: ci:arbitrum

#10482 fix: proper handling confirmations for Arbitrum rollup block in the middle of a batch
  apps/indexer/lib/indexer/fetcher/arbitrum/tracking_batches_statuses.ex
  apps/indexer/lib/indexer/fetcher/arbitrum/utils/helper.ex
  apps/indexer/lib/indexer/fetcher/arbitrum/utils/rpc.ex
  apps/indexer/lib/indexer/fetcher/arbitrum/workers/new_batches.ex
  apps/indexer/lib/indexer/fetcher/arbitrum/workers/new_confirmations.ex
  config/runtime.exs
  docker-compose/envs/common-blockscout.env
Labels: ci:arbitrum

#10570 fix: filter out incorrect L1-to-L2 Arbitrum messages
  apps/explorer/lib/explorer/chain/arbitrum/reader.ex
  apps/indexer/lib/indexer/fetcher/arbitrum/messaging.ex
  apps/indexer/lib/indexer/fetcher/arbitrum/workers/historical_messages_on_l2.ex
Labels: ci:arbitrum

#10576 fix: Fix internal transactions runner test for zetachain
  .github/workflows/config.yml
  apps/explorer/test/explorer/chain/import/runner/internal_transactions_test.exs
Labels: ci:all

#10590 feat: L1 tx associated with Arbitrum message in /api/v2/transactions/{txHash}
  apps/block_scout_web/lib/block_scout_web/views/api/v2/arbitrum_view.ex
Labels: ci:arbitrum

#10593 feat: more descriptive status for Arbitrum message for the transaction view
  apps/block_scout_web/lib/block_scout_web/views/api/v2/arbitrum_view.ex
Labels: ci:arbitrum, ci:all

#10500 feat: Support smart-contract verification in zkSync
  .github/workflows/config.yml
  apps/block_scout_web/lib/block_scout_web/controllers/api/rpc/contract_controller.ex
  apps/block_scout_web/lib/block_scout_web/controllers/api/v2/verification_controller.ex
  apps/block_scout_web/lib/block_scout_web/graphql/schema/types.ex
  apps/block_scout_web/lib/block_scout_web/routers/smart_contracts_api_v2_router.ex
  apps/block_scout_web/lib/block_scout_web/views/api/rpc/contract_view.ex
  apps/block_scout_web/lib/block_scout_web/views/api/v2/smart_contract_view.ex
  apps/block_scout_web/test/block_scout_web/controllers/api/rpc/contract_controller_test.exs
  apps/block_scout_web/test/block_scout_web/controllers/api/v2/smart_contract_controller_test.exs
  apps/block_scout_web/test/block_scout_web/controllers/api/v2/verification_controller_test.exs
  apps/explorer/lib/explorer/chain/smart_contract.ex
  apps/explorer/lib/explorer/chain_spec/genesis_data.ex
  apps/explorer/lib/explorer/smart_contract/compiler_version.ex
  apps/explorer/lib/explorer/smart_contract/helper.ex
  apps/explorer/lib/explorer/smart_contract/rust_verifier_interface_behaviour.ex
  apps/explorer/lib/explorer/smart_contract/solidity/publisher.ex
  apps/explorer/lib/explorer/smart_contract/solidity/verifier.ex
  apps/explorer/lib/explorer/third_party_integrations/sourcify.ex
  apps/explorer/priv/zk_sync/migrations/20240716095237_add_zk_compiler_version_to_smart_contracts.exs
  apps/explorer/test/explorer/smart_contract/solidity/publisher_test.exs
  apps/explorer/test/explorer/smart_contract/solidity/verifier_test.exs
  apps/explorer/test/explorer/smart_contract/vyper/publisher_test.exs
  apps/explorer/test/support/factory.ex
Labels: ci:all

#10606 fix: Fix raw-trace test
  apps/block_scout_web/test/block_scout_web/controllers/api/v2/transaction_controller_test.exs
Labels: ci:all

#10619 fix: proper default value of gas used for dropped Arbitrum transactions
  apps/block_scout_web/lib/block_scout_web/views/api/v2/arbitrum_view.ex
Labels: ci:arbitrum

#10565 fix: logs list serialization
  apps/block_scout_web/test/block_scout_web/controllers/api/rpc/eth_controller_test.exs
  apps/block_scout_web/test/block_scout_web/controllers/api/rpc/logs_controller_test.exs
  apps/explorer/lib/explorer/etherscan/logs.ex
  apps/explorer/test/explorer/chain_test.exs
  apps/explorer/test/explorer/etherscan/logs_test.exs
Labels: ci:all
