Repository blockscout/blockscout, pull requests merged in 2024-06, with the labels that each got.

#10205 fix: excessive logging for Arbitrum batches confirmations
  apps/indexer/lib/indexer/fetcher/arbitrum/workers/new_batches.ex
  apps/indexer/lib/indexer/fetcher/arbitrum/workers/new_confirmations.ex
Labels: ci:arbitrum

#10216 fix: rename field containing the number of blocks in the Arbitrum batch
  apps/block_scout_web/lib/block_scout_web/views/api/v2/arbitrum_view.ex
Labels: ci:arbitrum

#10236 fix: add smart contracts preloads to from_address
  apps/block_scout_web/lib/block_scout_web/channels/address_channel.ex
  apps/block_scout_web/lib/block_scout_web/controllers/api/v2/address_controller.ex
  apps/block_scout_web/lib/block_scout_web/controllers/api/v2/main_page_controller.ex
  apps/block_scout_web/lib/block_scout_web/controllers/api/v2/transaction_controller.ex
  apps/block_scout_web/lib/block_scout_web/endpoint.ex
  apps/block_scout_web/lib/block_scout_web/notifier.ex
  apps/explorer/lib/explorer/chain.ex
Labels: ci:all

#10234 fix: batch transactions view recovered and support of proofs through ZkSync Hyperchain
  apps/explorer/lib/explorer/chain/import/runner/zksync/batch_transactions.ex
  apps/explorer/lib/explorer/chain/transaction.ex
  apps/explorer/lib/explorer/chain/zksync/batch_transaction.ex
  apps/explorer/priv/zk_sync/migrations/20240611091814_rename_field_in_batch_transactions.exs
  apps/indexer/lib/indexer/fetcher/zksync/discovery/batches_data.ex
  apps/indexer/lib/indexer/fetcher/zksync/status_tracking/proven.ex
Labels: ci:zksync

#10255 fix: proper hex-encoded transaction hash recognition in ZkSync batches status checker
  apps/indexer/lib/indexer/fetcher/zksync/utils/rpc.ex
Labels: ci:zksync

#10333 fix: proper handling of Arbitrum transactions without gas_used_for_l1
  apps/block_scout_web/lib/block_scout_web/views/api/v2/arbitrum_view.ex
Labels: ci:arbitrum
