Repository blockscout/blockscout, pull requests merged in 2024-09, with the labels that each got.

#10676 chore: fix flaking explorer tests
  apps/explorer/test/explorer/migrator/sanitize_incorrect_weth_token_transfers_test.exs
  apps/explorer/test/explorer/token/metadata_retriever_test.exs
Labels: ci:all

#10629 feat: Celo API updates
  apps/block_scout_web/lib/block_scout_web/controllers/api/v2/stats_controller.ex
  apps/block_scout_web/lib/block_scout_web/views/api/v2/celo_view.ex
  apps/explorer/lib/explorer/chain.ex
  apps/explorer/lib/explorer/chain/celo/reader.ex
Labels: ci:celo

#10673 fix: allow disabling group votes fetcher independently of epoch block fetcher
  apps/explorer/lib/explorer/chain/celo/validator_group_vote.ex
  apps/explorer/lib/explorer/chain/import/runner/celo/validator_group_votes.ex
  apps/explorer/priv/celo/migrations/20240830094610_add_account_address_and_group_address_to_primary_key.exs
  config/runtime.exs
  docker-compose/envs/common-blockscout.env
Labels: ci:celo

#10468 feat: support for filecoin native addresses
  apps/block_scout_web/lib/block_scout_web/views/api/v2/filecoin_view.ex
  apps/block_scout_web/lib/block_scout_web/views/api/v2/helper.ex
  apps/block_scout_web/test/block_scout_web/controllers/account/api/v2/user_controller_test.exs
  apps/explorer/lib/explorer/application.ex
  apps/explorer/lib/explorer/chain/address.ex
  apps/explorer/lib/explorer/chain/filecoin/id.ex
  apps/explorer/lib/explorer/chain/filecoin/native_address.ex
  apps/explorer/lib/explorer/chain/filecoin/pending_address_operation.ex
  apps/explorer/lib/explorer/chain/hash.ex
  apps/explorer/lib/explorer/chain/import/runner/addresses.ex
  apps/explorer/lib/explorer/chain/import/runner/blocks.ex
  apps/explorer/lib/explorer/chain/import/runner/helper.ex
  apps/explorer/lib/explorer/migrator/filecoin_pending_address_operations.ex
  apps/explorer/mix.exs
  apps/explorer/priv/filecoin/migrations/20240801134142_create_pending_address_operations.exs
  apps/explorer/priv/filecoin/migrations/20240807134138_add_chain_type_fields_to_address.exs
  apps/explorer/test/explorer/chain/filecoin/native_address_test.exs
  apps/indexer/lib/indexer/application.ex
  apps/indexer/lib/indexer/block/catchup/fetcher.ex
  apps/indexer/lib/indexer/block/fetcher.ex
  apps/indexer/lib/indexer/block/realtime/fetcher.ex
  apps/indexer/lib/indexer/fetcher/filecoin/address_info.ex
  apps/indexer/lib/indexer/fetcher/filecoin/beryx_api.ex
  apps/indexer/lib/indexer/prometheus/collector/filecoin_pending_address_operations_collector.ex
  apps/indexer/lib/indexer/prometheus/collector/pending_block_operations_collector.ex
  apps/indexer/lib/indexer/supervisor.ex
  apps/indexer/test/indexer/block/catchup/fetcher_test.exs
  apps/indexer/test/indexer/block/fetcher_test.exs
  apps/indexer/test/indexer/block/realtime/fetcher_test.exs
  apps/indexer/test/support/indexer/fetcher/filecoin_native_address_supervisor_case.ex
  config/runtime.exs
  cspell.json
  docker-compose/envs/common-blockscout.env
  mix.lock
Labels: ci:filecoin

#10674 feat: Add `INDEXER_OPTIMISM_L1_DEPOSITS_TRANSACTION_TYPE` env variable
  apps/indexer/lib/indexer/fetcher/optimism.ex
  apps/indexer/lib/indexer/fetcher/optimism/deposit.ex
  apps/indexer/lib/indexer/fetcher/optimism/withdrawal.ex
  apps/indexer/lib/indexer/fetcher/polygon_zkevm/bridge.ex
  apps/indexer/lib/indexer/fetcher/polygon_zkevm/bridge_l1.ex
  apps/indexer/lib/indexer/fetcher/polygon_zkevm/bridge_l2.ex
  apps/indexer/lib/indexer/fetcher/rollup_l1_reorg_monitor.ex
  apps/indexer/lib/indexer/helper.ex
  config/runtime.exs
  docker-compose/envs/common-blockscout.env
Labels: ci:optimism

#10757 fix: revisited approach to choose L1 blocks to discover missing Arbitrum batches
  apps/indexer/lib/indexer/fetcher/arbitrum/utils/db.ex
Labels: ci:arbitrum

#10767 fix: get rid of heavy DB query to start Arbitrum missed messages discovery process
  apps/indexer/lib/indexer/fetcher/arbitrum/rollup_messages_catchup.ex
  apps/indexer/lib/indexer/fetcher/arbitrum/utils/db.ex
Labels: ci:arbitrum

#10786 fix: proper handling of old batches on Arbitrum Nova
  apps/indexer/lib/indexer/fetcher/arbitrum/da/anytrust.ex
  apps/indexer/lib/indexer/fetcher/arbitrum/da/common.ex
  apps/indexer/lib/indexer/fetcher/arbitrum/utils/rpc.ex
  apps/indexer/lib/indexer/fetcher/arbitrum/workers/new_batches.ex
Labels: ci:arbitrum

#10284 chore: bump elixir to 1.17.3 and Erlang OTP to 27.1
  .dialyzer-ignore
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/config.yml
  .tool-versions
  apps/block_scout_web/lib/block_scout_web/controllers/address_validation_controller.ex
  apps/block_scout_web/lib/block_scout_web/controllers/api/rpc/contract_controller.ex
  apps/block_scout_web/lib/block_scout_web/controllers/smart_contract_controller.ex
  apps/block_scout_web/lib/block_scout_web/controllers/transaction_controller.ex
  apps/block_scout_web/lib/block_scout_web/controllers/transaction_state_controller.ex
  apps/block_scout_web/lib/block_scout_web/controllers/transaction_token_transfer_controller.ex
  apps/block_scout_web/lib/block_scout_web/templates/address_token_balance/_token_balances.html.eex
  apps/block_scout_web/lib/block_scout_web/views/api/v2/optimism_view.ex
  apps/ethereum_jsonrpc/lib/ethereum_jsonrpc.ex
  apps/ethereum_jsonrpc/lib/ethereum_jsonrpc/ipc.ex
  apps/ethereum_jsonrpc/lib/ethereum_jsonrpc/utility/ranges_helper.ex
  apps/explorer/lib/explorer/account/watchlist_address.ex
  apps/explorer/lib/explorer/chain.ex
  apps/explorer/lib/explorer/chain/cache/celo_core_contracts.ex
  apps/explorer/lib/explorer/chain/import/runner/internal_transactions.ex
  apps/explorer/lib/explorer/chain/transaction.ex
  apps/explorer/lib/explorer/third_party_integrations/sourcify.ex
  apps/explorer/lib/explorer/utility/address_contract_code_fetch_attempt.ex
  apps/explorer/lib/explorer/utility/missing_block_range.ex
  apps/explorer/lib/fetch_celo_core_contracts.ex
  apps/explorer/test/explorer/chain/address_test.exs
  apps/explorer/test/explorer/chain_spec/parity/importer_test.exs
  apps/indexer/lib/indexer/block/catchup/fetcher.ex
  apps/indexer/lib/indexer/block/catchup/missing_ranges_collector.ex
  apps/indexer/lib/indexer/block/fetcher.ex
  apps/indexer/lib/indexer/bound_interval.ex
  apps/indexer/lib/indexer/fetcher/celo/validator_group_votes.ex
  apps/indexer/lib/indexer/fetcher/optimism/txn_batch.ex
  apps/indexer/lib/indexer/helper.ex
  docker/Dockerfile
Labels: ci:all

#10770 feat: add verbosity to GraphQL token transfers query
  apps/block_scout_web/lib/block_scout_web/graphql/celo/resolvers/token_transfer.ex
  apps/block_scout_web/lib/block_scout_web/graphql/celo/resolvers/token_transfer_tx.ex
  apps/block_scout_web/lib/block_scout_web/graphql/celo/schema/query_fields.ex
  apps/block_scout_web/lib/block_scout_web/graphql/celo/schema/types.ex
  apps/block_scout_web/lib/block_scout_web/graphql/resolvers/block.ex
  apps/block_scout_web/lib/block_scout_web/graphql/resolvers/token.ex
  apps/block_scout_web/lib/block_scout_web/graphql/resolvers/token_transfer.ex
  apps/block_scout_web/lib/block_scout_web/graphql/resolvers/transaction.ex
  apps/block_scout_web/lib/block_scout_web/graphql/schema.ex
  apps/block_scout_web/lib/block_scout_web/graphql/schema/types.ex
  apps/explorer/lib/explorer/chain.ex
  apps/explorer/lib/explorer/chain/token_transfer.ex
  apps/explorer/lib/explorer/graphql.ex
  apps/explorer/lib/explorer/graphql/celo.ex
Labels: ci:celo
