Repository blockscout/blockscout, pull requests merged in 2025-07, with the labels that each got.

#12540 fix: Store blocks_validated in DB for Stability Validators
  apps/block_scout_web/lib/block_scout_web/paging_helper.ex
  apps/block_scout_web/test/block_scout_web/controllers/api/v2/validator_controller_test.exs
  apps/explorer/lib/explorer/chain/import/runner/stability/validators.ex
  apps/explorer/lib/explorer/chain/import/stage/chain_type_specific.ex
  apps/explorer/lib/explorer/chain/stability/validator.ex
  apps/explorer/priv/stability/migrations/20250602163043_add_validator_blocks_validated_counter.exs
  apps/explorer/test/explorer/chain/import/runner/stability/validators_test.exs
  apps/explorer/test/support/factory.ex
  apps/indexer/lib/indexer/block/fetcher.ex
  apps/indexer/lib/indexer/fetcher/stability/validator.ex
  apps/indexer/lib/indexer/transform/stability/validators.ex
  apps/indexer/test/indexer/block/catchup/fetcher_test.exs
  apps/indexer/test/indexer/block/fetcher_test.exs
  apps/indexer/test/indexer/block/realtime/fetcher_test.exs
  apps/indexer/test/indexer/fetcher/stability/validator_test.exs
  apps/indexer/test/indexer/transform/stability/validators_test.exs
Labels: ci:stability

#12543 chore: revise Explorer.Helper.add_0x_prefix usage
  apps/block_scout_web/lib/block_scout_web/controllers/api/v2/advanced_filter_controller.ex
  apps/block_scout_web/lib/block_scout_web/controllers/api/v2/optimism_controller.ex
  apps/block_scout_web/lib/block_scout_web/controllers/chain_controller.ex
  apps/block_scout_web/lib/block_scout_web/routers/api_router.ex
  apps/block_scout_web/lib/block_scout_web/views/abi_encoded_value_view.ex
  apps/block_scout_web/lib/block_scout_web/views/address_contract_view.ex
  apps/block_scout_web/lib/block_scout_web/views/api/v2/address_badge_view.ex
  apps/block_scout_web/lib/block_scout_web/views/api/v2/advanced_filter_view.ex
  apps/block_scout_web/lib/block_scout_web/views/api/v2/optimism_view.ex
  apps/block_scout_web/lib/block_scout_web/views/api/v2/search_view.ex
  apps/block_scout_web/lib/block_scout_web/views/api/v2/suave_view.ex
  apps/block_scout_web/lib/block_scout_web/views/smart_contract_view.ex
  apps/block_scout_web/test/block_scout_web/controllers/api/v2/address_controller_test.exs
  apps/block_scout_web/test/block_scout_web/controllers/api/v2/advanced_filter_controller_test.exs
  apps/block_scout_web/test/block_scout_web/controllers/api/v2/optimism_controller_test.exs
  apps/block_scout_web/test/block_scout_web/controllers/api/v2/smart_contract_controller_test.exs
  apps/block_scout_web/test/block_scout_web/controllers/api/v2/transaction_controller_test.exs
  apps/ethereum_jsonrpc/mix.exs
  apps/explorer/lib/explorer/account/notifier/email.ex
  apps/explorer/lib/explorer/arbitrum/claim_rollup_message.ex
  apps/explorer/lib/explorer/chain/bridged_token.ex
  apps/explorer/lib/explorer/chain/contract_method.ex
  apps/explorer/lib/explorer/chain/method_identifier.ex
  apps/explorer/lib/explorer/chain/mud.ex
  apps/explorer/lib/explorer/chain/optimism/interop_message.ex
  apps/explorer/lib/explorer/chain/smart_contract/proxy/eip_7702.ex
  apps/explorer/lib/explorer/chain/transaction.ex
  apps/explorer/lib/explorer/smart_contract/helper.ex
  apps/explorer/lib/explorer/tags/address_to_tag.ex
  apps/explorer/mix.exs
  apps/explorer/test/explorer/account/notifier/email_test.exs
  apps/explorer/test/explorer/chain/smart_contract/proxy/eip_7702_test.exs
  apps/explorer/test/explorer/chain/transaction_test.exs
  apps/explorer/test/explorer/helper_test.exs
  apps/explorer/test/explorer/smart_contract/helper_test.exs
  apps/explorer/test/explorer/smart_contract/solidity/publisher_test.exs
  apps/explorer/test/explorer/tags/address_to_tag_test.exs
  apps/explorer/test/support/factory.ex
  apps/indexer/lib/indexer/fetcher/on_demand/token_balance.ex
  apps/indexer/lib/indexer/fetcher/on_demand/token_total_supply.ex
  apps/indexer/lib/indexer/fetcher/optimism/dispute_game.ex
  apps/indexer/lib/indexer/fetcher/optimism/interop/message.ex
  apps/indexer/lib/indexer/fetcher/optimism/interop/message_queue.ex
  apps/indexer/lib/indexer/fetcher/optimism/interop/multichain_export.ex
  apps/indexer/lib/indexer/fetcher/optimism/transaction_batch.ex
  apps/indexer/lib/indexer/fetcher/polygon_zkevm/bridge.ex
  apps/indexer/lib/indexer/fetcher/zksync/utils/rpc.ex
  apps/indexer/lib/indexer/pending_transactions_sanitizer.ex
  apps/indexer/lib/indexer/transform/celo/validator_epoch_payment_distributions.ex
  apps/indexer/mix.exs
  apps/indexer/test/indexer/fetcher/on_demand/token_balance_test.exs
  apps/indexer/test/indexer/fetcher/optimism/dispute_game_test.exs
  apps/indexer/test/indexer/fetcher/optimism/interop/message_queue_test.exs
  apps/indexer/test/indexer/fetcher/optimism/transaction_batch_test.exs
  apps/indexer/test/indexer/fetcher/zksync/utils/rpc_test.exs
  apps/indexer/test/indexer/transform/celo/validator_epoch_payment_distributions_test.exs
  mix.lock
Labels: ci:all

#12756 fix: filter scilla transactions by status
  apps/explorer/lib/explorer/chain/zilliqa/reader.ex
  apps/indexer/lib/indexer/fetcher/contract_code.ex
Labels: ci:zilliqa
