Repository blockscout/blockscout, pull requests merged in 2025-03, with the labels that each got.

#11790 fix: confirmations of Arbitrum blocks near genesis
  apps/explorer/lib/explorer/chain/arbitrum/reader/indexer/settlement.ex
  apps/indexer/lib/indexer/fetcher/arbitrum/tracking_batches_statuses.ex
  apps/indexer/lib/indexer/fetcher/arbitrum/utils/db/settlement.ex
  apps/indexer/lib/indexer/fetcher/arbitrum/workers/batches/README.md
  apps/indexer/lib/indexer/fetcher/arbitrum/workers/batches/discovery.ex
  apps/indexer/lib/indexer/fetcher/arbitrum/workers/batches/discovery_utils.ex
  apps/indexer/lib/indexer/fetcher/arbitrum/workers/batches/events.ex
  apps/indexer/lib/indexer/fetcher/arbitrum/workers/batches/rollup_entities.ex
  apps/indexer/lib/indexer/fetcher/arbitrum/workers/batches/tasks.ex
  apps/indexer/lib/indexer/fetcher/arbitrum/workers/confirmations/README.md
  apps/indexer/lib/indexer/fetcher/arbitrum/workers/confirmations/discovery.ex
  apps/indexer/lib/indexer/fetcher/arbitrum/workers/confirmations/events.ex
  apps/indexer/lib/indexer/fetcher/arbitrum/workers/confirmations/rollup_blocks.ex
  apps/indexer/lib/indexer/fetcher/arbitrum/workers/confirmations/tasks.ex
  apps/indexer/lib/indexer/fetcher/arbitrum/workers/new_batches.ex
  apps/indexer/lib/indexer/fetcher/arbitrum/workers/new_confirmations.ex
  apps/indexer/lib/indexer/fetcher/arbitrum/workers/new_l1_executions.ex
Labels: ci:arbitrum

#11949 chore: fetch epoch logs and rewards until `CELO_L2_MIGRATION_BLOCK`
  apps/explorer/lib/explorer/chain/celo/helper.ex
  apps/explorer/lib/explorer/chain/celo/pending_epoch_block_operation.ex
  apps/indexer/lib/indexer/fetcher/celo/epoch_block_operations.ex
  apps/indexer/lib/indexer/fetcher/celo/epoch_logs.ex
  apps/indexer/test/indexer/fetcher/celo/epoch_block_operations_test.exs
  config/runtime.exs
  docker-compose/envs/common-blockscout.env
Labels: ci:celo

#11813 chore: migrate to `language` enum field in `smart_contracts` table
  apps/block_scout_web/lib/block_scout_web/controllers/api/v2/fallback_controller.ex
  apps/block_scout_web/lib/block_scout_web/controllers/api/v2/smart_contract_controller.ex
  apps/block_scout_web/lib/block_scout_web/graphql/schema/types.ex
  apps/block_scout_web/lib/block_scout_web/views/api/v2/smart_contract_view.ex
  apps/block_scout_web/test/block_scout_web/controllers/api/v2/smart_contract_controller_test.exs
  apps/block_scout_web/test/block_scout_web/controllers/verified_contracts_controller_test.exs
  apps/explorer/config/config.exs
  apps/explorer/config/runtime/test.exs
  apps/explorer/lib/explorer/application.ex
  apps/explorer/lib/explorer/chain/cache/background_migrations.ex
  apps/explorer/lib/explorer/chain/smart_contract.ex
  apps/explorer/lib/explorer/chain_spec/genesis_data.ex
  apps/explorer/lib/explorer/migrator/smart_contract_language.ex
  apps/explorer/lib/explorer/smart_contract/solidity/publisher.ex
  apps/explorer/lib/explorer/smart_contract/stylus/publisher.ex
  apps/explorer/lib/explorer/smart_contract/vyper/publisher.ex
  apps/explorer/priv/zilliqa/migrations/20250303201406_decrease_scilla_language_index_by_one.exs
  apps/explorer/test/explorer/migrator/smart_contract_language_test.exs
  apps/explorer/test/support/factory.ex
  config/runtime.exs
  docker-compose/envs/common-blockscout.env
Labels: ci:all

#12027 chore: eliminate warnings in `epoch_logs.ex`
  apps/indexer/lib/indexer/fetcher/celo/epoch_logs.ex
Labels: ci:celo

#11157 feat: Add PendingTransactionOperation
  apps/ethereum_jsonrpc/lib/ethereum_jsonrpc/utility/ranges_helper.ex
  apps/explorer/lib/explorer/application.ex
  apps/explorer/lib/explorer/chain.ex
  apps/explorer/lib/explorer/chain/import/runner/blocks.ex
  apps/explorer/lib/explorer/chain/import/runner/internal_transactions.ex
  apps/explorer/lib/explorer/chain/import/runner/transactions.ex
  apps/explorer/lib/explorer/chain/pending_block_operation.ex
  apps/explorer/lib/explorer/chain/pending_operations_helper.ex
  apps/explorer/lib/explorer/chain/pending_transaction_operation.ex
  apps/explorer/lib/explorer/chain/transaction.ex
  apps/explorer/lib/explorer/migrator/reindex_internal_transactions_with_incompatible_status.ex
  apps/explorer/lib/explorer/migrator/switch_pending_operations.ex
  apps/explorer/priv/repo/migrations/20241031110127_create_pending_transaction_operations.exs
  apps/explorer/test/explorer/chain/import/runner/blocks_test.exs
  apps/explorer/test/explorer/chain/import/runner/internal_transactions_test.exs
  apps/explorer/test/explorer/chain/import_test.exs
  apps/explorer/test/explorer/chain_test.exs
  apps/explorer/test/explorer/migrator/reindex_internal_transactions_with_incompatible_status_test.exs
  apps/explorer/test/explorer/migrator/switch_pending_operations_test.exs
  apps/explorer/test/support/factory.ex
  apps/indexer/lib/indexer/block/fetcher.ex
  apps/indexer/lib/indexer/fetcher/empty_blocks_sanitizer.ex
  apps/indexer/lib/indexer/fetcher/internal_transaction.ex
  apps/indexer/lib/indexer/fetcher/pending_block_operations_sanitizer.ex
  apps/indexer/lib/indexer/prometheus/collector/pending_transaction_operations_collector.ex
  apps/indexer/test/indexer/block/fetcher_test.exs
  apps/indexer/test/indexer/fetcher/internal_transaction_test.exs
  apps/indexer/test/indexer/pending_ops_cleaner_test.exs
Labels: ci:all

#12059 fix: recovered functionality of Arbitrum batch fetcher
  apps/indexer/lib/indexer/fetcher/arbitrum/tracking_batches_statuses.ex
Labels: ci:arbitrum

#11615 feat: zilliqa stakers API
  apps/block_scout_web/lib/block_scout_web/controllers/api/v2/validator_controller.ex
  apps/block_scout_web/lib/block_scout_web/routers/api_router.ex
  apps/block_scout_web/lib/block_scout_web/views/api/v2/validator_view.ex
  apps/block_scout_web/test/block_scout_web/controllers/api/v2/validator_controller_test.exs
  apps/ethereum_jsonrpc/lib/ethereum_jsonrpc/zilliqa.ex
  apps/ethereum_jsonrpc/lib/ethereum_jsonrpc/zilliqa/aggregate_quorum_certificate.ex
  apps/ethereum_jsonrpc/lib/ethereum_jsonrpc/zilliqa/helper.ex
  apps/ethereum_jsonrpc/lib/ethereum_jsonrpc/zilliqa/nested_quorum_certificates.ex
  apps/ethereum_jsonrpc/lib/ethereum_jsonrpc/zilliqa/quorum_certificate.ex
  apps/ethereum_jsonrpc/test/ethereum_jsonrpc/zilliqa_test.exs
  apps/explorer/lib/explorer/chain/zilliqa/hash/bls_public_key.ex
  apps/explorer/lib/explorer/chain/zilliqa/hash/peer_id.ex
  apps/explorer/lib/explorer/chain/zilliqa/staker.ex
  apps/explorer/priv/zilliqa/migrations/20250106185108_create_zilliqa_stakers.exs
  apps/explorer/test/explorer/chain_test.exs
  apps/explorer/test/support/factory.ex
  cspell.json
Labels: ci:zilliqa

#12095 fix: implement DA record deduplication for Arbitrum batch processing
  apps/explorer/lib/explorer/chain/arbitrum/reader/indexer/settlement.ex
  apps/indexer/lib/indexer/fetcher/arbitrum/da/anytrust.ex
  apps/indexer/lib/indexer/fetcher/arbitrum/da/celestia.ex
  apps/indexer/lib/indexer/fetcher/arbitrum/da/common.ex
  apps/indexer/lib/indexer/fetcher/arbitrum/utils/db/settlement.ex
Labels: ci:arbitrum

#11914 fix: refactor a query to get missing confirmation for Arbitrum blocks
  apps/explorer/config/config.exs
  apps/explorer/lib/explorer/application.ex
  apps/explorer/lib/explorer/chain/arbitrum/reader/indexer/settlement.ex
  apps/explorer/lib/explorer/chain/cache/background_migrations.ex
  apps/explorer/lib/explorer/migrator/heavy_db_index_operation.ex
  apps/explorer/lib/explorer/migrator/heavy_db_index_operation/README.md
  apps/explorer/lib/explorer/migrator/heavy_db_index_operation/create_arbitrum_batch_l2_blocks_unconfirmed_blocks_index.ex
  apps/indexer/lib/indexer/fetcher/arbitrum/tracking_batches_statuses.ex
  apps/indexer/lib/indexer/fetcher/arbitrum/utils/db/settlement.ex
  apps/indexer/lib/indexer/fetcher/arbitrum/utils/helper.ex
  apps/indexer/lib/indexer/fetcher/arbitrum/workers/confirmations/tasks.ex
  config/runtime.exs
Labels: ci:arbitrum

#12114 chore: partially move chain types to runtime
  .github/workflows/pre-release-blackfort.yml
  .github/workflows/pre-release-neon.yml
  .github/workflows/pre-release-shibarium.yml
  .github/workflows/pre-release-stability.yml
  .github/workflows/publish-docker-image-for-blackfort.yml
  .github/workflows/publish-docker-image-for-neon.yml
  .github/workflows/publish-docker-image-for-polygon-edge.yml
  .github/workflows/publish-docker-image-for-shibarium.yml
  .github/workflows/publish-docker-image-for-stability.yml
  .github/workflows/release-blackfort.yml
  .github/workflows/release-neon.yml
  .github/workflows/release-polygon-edge.yml
  .github/workflows/release-shibarium.yml
  .github/workflows/release-stability.yml
  apps/block_scout_web/lib/block_scout_web/plug/check_chain_type.ex
  apps/block_scout_web/lib/block_scout_web/routers/api_router.ex
  apps/block_scout_web/lib/block_scout_web/routers/chain_type_scope.ex
  apps/block_scout_web/lib/block_scout_web/views/api/v2/arbitrum_view.ex
  apps/block_scout_web/lib/block_scout_web/views/api/v2/transaction_view.ex
  apps/block_scout_web/lib/block_scout_web/views/api/v2/zilliqa_view.ex
  apps/block_scout_web/lib/block_scout_web/views/api/v2/zksync_view.ex
  apps/block_scout_web/test/block_scout_web/controllers/api/v2/transaction_controller_test.exs
  apps/block_scout_web/test/block_scout_web/routers/chain_type_scope_test.exs
  apps/indexer/lib/indexer/block/fetcher.ex
  apps/indexer/lib/indexer/block/realtime/fetcher.ex
  apps/indexer/lib/indexer/fetcher/rollup_l1_reorg_monitor.ex
Labels: ci:all

#12153 fix: unify Block Range Collector behavior for undefined and single range
  apps/ethereum_jsonrpc/lib/ethereum_jsonrpc.ex
  apps/ethereum_jsonrpc/lib/ethereum_jsonrpc/block/by_tag.ex
  apps/explorer/lib/explorer/chain.ex
  apps/explorer/lib/explorer/chain/cache/block_number.ex
  apps/explorer/lib/explorer/helper.ex
  apps/explorer/lib/explorer/utility/missing_block_range.ex
  apps/indexer/lib/indexer/block/catchup/missing_ranges_collector.ex
Labels: ci:ethereum

#12169 fix: Fix Rootstock failed tests
  apps/block_scout_web/lib/block_scout_web/controllers/api/v2/stats_controller.ex
Labels: ci:rsk

#12171 fix: Fix Stability web test
  .github/workflows/publish-deploy-testing.yml
  apps/block_scout_web/test/block_scout_web/controllers/api/v2/validator_controller_test.exs
Labels: ci:stability
